# EJECUTABLES
exec
exec2
release
imgui.ini
Server/exec2
Server/exec
*.exe

# COMPILADOS
obj/
*.o

# VISUAL STUDIO
*.sln
*.vcxproj*
*.VC*
.vs/
.vscode/
Debug/



assets/MapaPirata/mapa4\.0\.blend1

assets/MapaPirata/mapa4\.0\.blend
